.TopBanner {
    background-image: url("../../public/img/PennyAuctionsbanner.JPG");
    height: 260px;
    padding: 20px;
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, height 1s, opacity 0.5s linear;
}
.TopBanner.hide {
    height: 150px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, height 1s, opacity 0.5s linear;
}
.TopBanner > h1 {
    font-family: 'Raleway',sans-serif;
    font-size: 62px;
    font-weight: 800;
    line-height: 72px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 6px 3px 2px #000000;
}
.TopBanner > h2 {

    font-family: 'Raleway',sans-serif;
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
    text-align: center;

    text-shadow: 4px 2px 2px #000000;
}

.TopBannner-banner {
    animation: TopBannner-banner-spin infinite 2s linear;
    height: 60px;
}

@keyframes TopBannner-banner-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
